# Etherscan
ETHERSCAN_API_KEY=mykey

# Postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_USER=mydb
POSTGRES_PASSWORD=helloworld
POSTGRES_DATABASE=mydb

# Bark
BARK_URL=https://mybark.com/
BARK_KEY=mykey

# Discord

# Opensea
OPENSEA_MY_ADDR=my_addr
OPENSEA_USERNAME=my_username
